main {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: rgba(97, 14, 49, 255);
}

.logo {
    height: 150px;
}

.imagen {
    height: 100%;
}

.encabezado {
    background-color: rgb(209, 149, 19);
    height: 100px;
}

.titulo {
    margin: 0;
    padding: 25px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 44px;
    color: white;
}

.lista_doctores {
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctores {
    margin-top: 50px;
    height: 40%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.151);
    display: flex;
    flex-direction: row;
}

.datos {
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 10px;
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.foto {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 20px;
    height: 80%;
    width: 50%;
}

.foto_doctor {
    width: 80%;
    height: 100%;
    padding-left: 35px;
}

.datos_acerca {
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    width: 95%;
    font-family: "Montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: justify;
}

@media screen and (max-width: 1700px) {
    .datos_acerca {
        padding-top: 45px;
        padding-left: 50px;
        padding-right: 10px;
        width: 85%;
        font-family: "Montserrat", Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.7 rem;
        line-height: 1.5;
        text-align: justify;
    }

    .menu {
        background-color: rgba(97, 14, 49, 255);
    }
}